[Unit]
Description=Android service manager
After=local-fs.target logd.service

[Service]
ExecStart=/usr/bin/servicemanager
# https://github.com/laarid/package_android-frameworks-native/issues/9
#User=system
SupplementaryGroups=readproc system

[Install]
WantedBy=multi-user.target
