Source: android-frameworks-native
Priority: extra
Maintainer: You-Sheng Yang <vicamo@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 autoconf-archive,
 pkg-config (>= 0.24),
 android-frameworks-native-headers <pkg.android-frameworks-native.stage2>,
 libandroid-backtrace0-dev (>= 0.0.19) [amd64 i386 arm64 armel armhf mips mips64el mipsel ppc64el],
 libandroid-base0-dev (>= 0.0.19),
 libandroid-binder0-dev <pkg.android-frameworks-native.stage2>,
 libandroid-bionic0-dev (>= 0.1.4),
 libandroid-cutils0-dev (>= 0.0.19),
 libandroid-hardware0-dev (>= 0.0.1+b1),
 libandroid-hardware-legacy0-dev (>= 0.0.2) <!pkg.android-frameworks-native.stage2>,
 libandroid-log0-dev (>= 0.0.19),
 libandroid-mincrypt0-dev (>= 0.0.19) <!pkg.android-frameworks-native.stage2>,
 libandroid-nativehelper0-dev (>= 0.0.4),
 libandroid-sync0-dev (>= 0.0.19),
 libandroid-ui0-dev <pkg.android-frameworks-native.stage2>,
 libandroid-uidmap0-dev (>= 0.0.19),
 libandroid-utils0-dev (>= 0.0.19),
 libandroid-ziparchive0-dev (>= 0.0.19) <!pkg.android-frameworks-native.stage2>,
 libegl1-mesa-dev <pkg.android-frameworks-native.stage2>,
 libgles1-mesa-dev <pkg.android-frameworks-native.stage2>,
 libgles2-mesa-dev <pkg.android-frameworks-native.stage2>,
 libgtest-dev,
 libselinux1-dev <!pkg.android-frameworks-native.stage2>,
 libssl-dev <!pkg.android-frameworks-native.stage2>,
 zlib1g-dev <!pkg.android-frameworks-native.stage2>,
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/laarid/package_android-frameworks-native
Vcs-Git: https://github.com/laarid/package_android-frameworks-native.git
Vcs-Browser: https://github.com/laarid/package_android-frameworks-native

Package: android-frameworks-native-bin
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: misc
Architecture: any
Multi-Arch: no
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android native frameworks - utilities
 This package contains utilities built from Android platform/frameworks/native.

Package: android-frameworks-native-headers
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: misc
Architecture: any
Multi-Arch: same
Depends:
 libandroid-cutils0-dev (>= 0.0.19),
 libandroid-nativehelper0-dev (>= 0.0.4),
 libandroid-utils0-dev (>= 0.0.19),
 ${misc:Depends},
Description: Android native framework headers
 This package contains headers from Android platform/frameworks/native that are
 not belong to any local module.

Package: android-servicemanager
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: misc
Architecture: any
Multi-Arch: no
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 android-logd,
Description: Android native frameworks - service manager
 This package contains servicemanager built from Android
 platform/frameworks/native.

Package: libandroid-batteryservice0-dev
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-batteryservice0 (= ${binary:Version}),
 libandroid-binder0-dev (= ${binary:Version}),
 libandroid-nativehelper0-dev (>= 0.0.4),
 libandroid-utils0-dev (>= 0.0.19),
 ${misc:Depends},
Description: Android libbatteryservice - development
 This package contains libbatteryservice built from Android
 platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-batteryservice0
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libbatteryservice
 This package contains libbatteryservice built from Android
 platform/frameworks/native.

Package: libandroid-binder0-dev
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-binder0 (= ${binary:Version}),
 libandroid-bionic0-dev (>= 0.1.4),
 libandroid-cutils0-dev (>= 0.0.19),
 libandroid-log0-dev (>= 0.0.19),
 libandroid-nativehelper0-dev (>= 0.0.4),
 libandroid-utils0-dev (>= 0.0.19),
 ${misc:Depends},
Description: Android libbinder - development
 This package contains libbinder built from Android platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-binder0
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libbinder
 This package contains libbinder built from Android platform/frameworks/native.

Package: libandroid-diskusage0-dev
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-diskusage0 (= ${binary:Version}),
 ${misc:Depends},
Description: Android libdiskusage - development
 This package contains libdiskusage built from Android
 platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-diskusage0
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libdiskusage
 This package contains libdiskusage built from Android
 platform/frameworks/native.

Package: libandroid-egl0-dev
Build-Profiles: <pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-egl0 (= ${binary:Version}),
 libegl1-mesa-dev,
 ${misc:Depends},
Description: Android libEGL - development
 This package contains libEGL built from Android platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-egl0
Build-Profiles: <pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libEGL
 This package contains libEGL built from Android platform/frameworks/native.

Package: libandroid-etc1-0-dev
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-etc1-0 (= ${binary:Version}),
 ${misc:Depends},
Description: Android libETC1 - development
 This package contains libETC1 built from Android platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-etc1-0
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libETC1
 This package contains libETC1 built from Android platform/frameworks/native.

Package: libandroid-glesv1-cm0-dev
Build-Profiles: <pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-glesv1-cm0 (= ${binary:Version}),
 libgles1-mesa-dev,
 ${misc:Depends},
Description: Android libGLESv1_CM - development
 This package contains libGLESv1_CM built from Android
 platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-glesv1-cm0
Build-Profiles: <pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libGLESv1_CM
 This package contains libGLESv1_CM built from Android
 platform/frameworks/native.

Package: libandroid-glesv2-0-dev
Build-Profiles: <pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-glesv2-0 (= ${binary:Version}),
 libgles2-mesa-dev,
 ${misc:Depends},
Description: Android libGLESv2 - development
 This package contains libGLESv2 built from Android platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-glesv2-0
Build-Profiles: <pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libGLESv2
 This package contains libGLESv2 built from Android platform/frameworks/native.

Package: libandroid-gui0-dev
Build-Profiles: <pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-gui0 (= ${binary:Version}),
 libandroid-egl0-dev,
 libandroid-glesv2-0-dev,
 ${misc:Depends},
Description: Android libgui - development
 This package contains libgui built from Android platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-gui0
Build-Profiles: <pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libgui
 This package contains libgui built from Android platform/frameworks/native.

Package: libandroid-input0-dev
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-input0 (= ${binary:Version}),
 libandroid-binder0-dev (= ${binary:Version}),
 libandroid-cutils0-dev (>= 0.0.19),
 libandroid-log0-dev (>= 0.0.19),
 libandroid-utils0-dev (>= 0.0.19),
 ${misc:Depends},
Description: Android libinput - development
 This package contains libinput built from Android platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-input0
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libinput
 This package contains libinput built from Android platform/frameworks/native.

Package: libandroid-inputflinger0-dev
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-inputflinger0 (= ${binary:Version}),
 libandroid-binder0-dev (= ${binary:Version}),
 libandroid-cutils0-dev (>= 0.0.19),
 libandroid-input0-dev (= ${binary:Version}),
 libandroid-ui0-dev (= ${binary:Version}),
 libandroid-utils0-dev (>= 0.0.19),
 ${misc:Depends},
Description: Android libinputflinger - development
 This package contains libinputflinger built from Android
 platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-inputflinger0
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libinputflinger
 This package contains libinputflinger built from Android
 platform/frameworks/native.

Package: libandroid-powermanager0-dev
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-powermanager0 (= ${binary:Version}),
 libandroid-binder0-dev (= ${binary:Version}),
 libandroid-nativehelper0-dev (>= 0.0.4),
 libandroid-utils0-dev (>= 0.0.19),
 ${misc:Depends},
Description: Android libpowermanager - development
 This package contains libpowermanager built from Android
 platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-powermanager0
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libpowermanager
 This package contains libpowermanager built from Android
 platform/frameworks/native.

Package: libandroid-ui0-dev
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-ui0 (= ${binary:Version}),
 libandroid-binder0-dev (= ${binary:Version}),
 libandroid-cutils0-dev (>= 0.0.19),
 libandroid-hardware0-dev (>= 0.0.1+b1),
 libandroid-log0-dev (>= 0.0.19),
 libandroid-sync0-dev (>= 0.0.19),
 libandroid-utils0-dev (>= 0.0.19),
 ${misc:Depends},
Description: Android libui - development
 This package contains libui built from Android platform/frameworks/native.
 .
 This package contains the development files.

Package: libandroid-ui0
Build-Profiles: <!pkg.android-frameworks-native.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libui
 This package contains libui built from Android platform/frameworks/native.
